{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:E3:CE:30",
        "port": 51826,
        "pin": "031-45-154"
    },

    "description": "Measurinator",

    "accessories": [
    ],

    "platforms": [
        {
            "platform" : "Measurinator",
            "name" : "Measurinator",
            "client": "123123123-1223-1234-1234-123412341234"
        }
    ]
}

